<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h2>User Name</h2>

        <div class="buttons">
            <button class="green"><a href="">Préstamo</a></button>
            <button class="green">Devolución</button>
        </div>
        <form action="/add" method="POST">
            <label for="title">Título de la Tarea</label>
            <input type="text" id="title" name="title" required>
            <button class="add-button" type="submit">Agregar</button>
        </form>





        <div class="buttons">
            <button class="red">Mod socios</button>
            <button class="red">Mod catálogo</button>
            <button class="blue">Ver catálogo</button>
        </div>

        <div class="buttons">
            <button class="gold">Salir</button>
            <button class="gray">Info</button>
            <button class="gray">Ayuda</button>
        </div>
    </div>
</body>
</html>
