extends layout

block content
  main.container
    h1.text-center= title
    a.add-button(href="/loan") Préstamo
    a.add-button(href="/return") Devolución
    a.delete-button(href="/logout") Cerrar Sesión
  
            