extends layout 

block content 
  main.container 
    h1 Devolución 
    form(action="/return" method="POST")
      label(for="title") ID socio
      input(type="text", id="id_member", name="id_member", required)
      //--
      label(for="title") ID libro 
      input(type="text", id="id_book", name="id_book", required)
      //--
      button.add-button(type="submit") confirmar Devolución
    a.back-button(href="/") ↩️🏠 Volver